# Category Encoders for Better Machine Learning

In [4]:
# import packages
import numpy as np
import pandas as pd
import category_encoders as ce

In [16]:
# create some data
df = pd.DataFrame({
 'color':["a", "c", "a", "a", "b", "b", "a", "c", "c"], 
 'outcome':[1, 2, 1, 1, 3, 2, 0, 0, 1]})
print(df.head())

# split data
X = df.drop('outcome', axis = 1)
y = df.drop('color', axis = 1)

  color  outcome
0     a        1
1     c        2
2     a        1
3     a        1
4     b        3

In [17]:
# instantiate an encoder - binary encoder used here
ce_binary = ce.BinaryEncoder(cols = ['color'])

In [18]:
# fit and transform with the encoder for encoded data
ce_binary.fit_transform(X, y)

   color_0  color_1  color_2
0        0        0        1
1        0        1        0
2        0        0        1
3        0        0        1
4        0        1        1
5        0        1        1
6        0        0        1
7        0        1        0
8        0        1        0

In [19]:
# utlize an alternate encoder
ce_hash = ce.HashingEncoder(cols = ['color'])
ce_hash.fit_transform(X, y)

   col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0      0      1      0      0      0      0      0      0
1      0      0      0      1      0      0      0      0
2      0      1      0      0      0      0      0      0
3      0      1      0      0      0      0      0      0
4      0      0      0      0      0      0      0      1
5      0      0      0      0      0      0      0      1
6      0      1      0      0      0      0      0      0
7      0      0      0      1      0      0      0      0
8      0      0      0      1      0      0      0      0

In [26]:
# utlize an alternate encoder
ce_basen = ce.BaseNEncoder(cols = ['color'], base = 1)
ce_basen.fit_transform(X, y)

   color_0  color_1  color_2  color_3
0        0        1        0        0
1        0        0        1        0
2        0        1        0        0
3        0        1        0        0
4        0        0        0        1
5        0        0        0        1
6        0        1        0        0
7        0        0        1        0
8        0        0        1        0